body {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  text-align: center;

}

#what {
  font-family: 'Noto Sans', sans-serif;
}
.col {
  text-align: center;
}
